/* 
    Document   : dietme
    Created on : 21.10.2013, 00:32:34
    Author     : admin
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.image-dietsheet {
    margin: 0px 20px 15px 0px;
    max-width: 200px;
    float: left;
}

.image-recipe {
    margin: 5px 0px 10px 0px;
    max-width: 160px;
}

.image-ingredient {
    margin: 0px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 100px;
    width: 98%;
    max-width: 250px;
    float: left;
}

.left {
    float: left;
}

.right {
    float: right;
}

.padding0 {
    padding: 0px !important;
}

.padding5 {
    padding: 5px !important;
}

.padding10 {
    padding: 10px !important;
}